<div class="box-layout">
  <div class="box-layout__box">
    <button class="button" (click)="switchToLoginOrRegister()">
      {{!showLoginPage ? "Logowanie" : null}}
      {{showLoginPage ? "Załóż konto" : null}}
    </button>
    <div class="form">
      <label>Username:</label>
      <input type="text" name="user" value={{userName}} (change)="handleChangeName($event)" />
      <label>Password:</label>
      <input type="password" name="password" value={{userPassword}} (change)="handleChangePassword($event)" />
      <button class="button" (click)="showLoginPage ? login() : register()">
        {{showLoginPage? 'Zaloguj' : 'Zarejestruj'}}
      </button>
    </div>
  </div>
</div>
