<div class='wrapper'>
  <div class='con'>
    <a routerLink="/dashboard">
      <button>Home</button>
    </a>
    <nav class='actionButtons'>
      <a routerLink='/addPost'>
        <button>Dodaj post</button>
      </a>
      <a routerLink='/explore'>
        <button>Odkryj</button>
      </a>
      <a routerLink="{{'/user/' + userId}}">
        <button>Moje</button>
      </a>
      <a *ngIf="isAuthenticated" routerLink='/login' (click)="logoutUser()">
        <button>Wyloguj</button>
      </a>
      <a *ngIf="!isAuthenticated" routerLink='/login'>
        <button>Zaloguj</button>
      </a>
    </nav>
  </div>
</div>
