.header {
  display: flex;
  justify-content: space-between;
  // padding: 16px;
  // background-color: $headerColor;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  // display: block;
  position: relative;
  min-height: 37px;


  span {
    margin-left: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    // display: flex;
    align-self: center;
    font-weight: 600;
    padding-left: 30px;
  }


  .headerLogo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    min-width: 32px;
    position: absolute;
    left: 5px;
  }

}
